include LICENSE
include README.md
include requirements.txt
include pyproject.toml
include config.yaml

recursive-include dte *.py *.yaml *.json py.typed
recursive-include configs *.yaml

recursive-include examples *.py
recursive-include tests *.py

prune .github
prune .git
global-exclude *.pyc __pycache__ *.pyo *.egg-info .DS_Store
